@import "~normalize.css/normalize";

// Variables
//
// Base variables for the app.

// Base16 color palette
$base00: #1d1f21;
$base01: #282a2e;
$base02: #373b41;
$base03: #969896;
$base04: #b4b7b4;
$base05: #c5c8c6;
$base06: #e0e0e0;
$base07: #ffffff;
$base08: #cc6666;
$base09: #de935f;
$base0A: #f0c674;
$base0B: #b5bd68;
$base0C: #8abeb7;
$base0D: #81a2be;
$base0E: #b294bb;
$base0F: #a3685a;

$root-font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$root-font-family-serif: Georgia, 'Times New Roman', Times, serif;
$root-font-size: 16px;
$root-line-height: 1.5;

$body-color: $base06;
$body-bg: $base01;
$link-color: $base0D;

$border-color: $base02;

$large-breakpoint: 38em;
$large-font-size: 20px;

$code-font-family: Menlo, Monaco, "Consolas", "Courier New", monospace;
$code-color: #bf616a;

// Body resets
//
// Update the foundational and global aspects of the app.

html {
  font-family: $root-font-family-sans-serif;
  font-size: $root-font-size;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: $body-color;
  background-color: $body-bg;
  overflow-y: hidden;
}

a {
  color: $link-color;
  opacity: .75;
  text-decoration: none;

  &:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
  }
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}
