.home {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container {
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
